<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Webstore weekend prototype</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="sq-viewport">
	  <div class="sq-page">
		  <!-- Navbar -->
		  <nav class="sq-nav-area">
			  <div class="sq-navbar-layout">
				  <div class="sq-navbar-nav">

				  </div>
				  <div class="sq-navbar-domain">

				  </div>
				  <div class="sq-navbar-links">

				  </div>
			  </div>
		  </nav>
		  <!-- Navbar end -->
		  <main class="sq-main">
			  <%= render @view_module, @view_template, assigns %>
		  </main>
		  <footer class="sq-footer"></footer>
	  </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
