<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Webstore weekend prototype</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="sq-viewport sq-secondary">
	  <!-- Login modal -->
	  <div id="login" class="sq-modal">
			<fieldset class="sq-modal-content sq-form sq-secondary-highlight">
				  <a class="sq-close" href="#">&times;</a>
				  <form class="sq-form sq-flex-column" action="index.html" method="post">
					  <p class="sq-text-center">Login</p>
					  <input type="email" name="" value="" placeholder="E-mail">
					  <input type="password" name="" value="" placeholder="Password">
			      <div class=" sq-container">
					<button class="sq-justify-left" type="submit" name="">Login</button>
					<a href="#reguser1" class="fakebtn sq-justify-right">register</a>
			      </div>
			    </form>
			</fieldset>
	  </div>
	  <!-- Register section 1 modal -->
	  <div id="reguser1" class="sq-modal">
			<fieldset class="sq-modal-content sq-form sq-secondary-highlight">
				  <a class="sq-close" href="#">&times;</a>
				  <form class="sq-form sq-flex-column" action="index.html" method="post">
					  <p class="sq-text-center">Register</p>
					  <input type="email" name="" value="" placeholder="E-mail">
					  <input type="password" name="" value="" placeholder="Password">
			      <div class=" sq-container">
			        <a href="#" class="fakebtn sq-justify-left">Cancel</a>
					<a href="#reguser2" class="fakebtn sq-justify-right">Rext</a>
			      </div>
			    </form>
			</fieldset>
	  </div>

	  <div class="sq-page">
		  <!-- Navbar -->
		  <nav class="sq-nav-area">
			  <div class="sq-navbar-layout">
				  <div class="sq-navbar-nav sq-flex sq-justify-right">
					<div class="sq-air-x-05">
						<a href="#" class="sq-text-white sq-secondary sq-r-border sq-x-padding-05">Welcome to our store!</a>
						<a href="#" class="sq-text-white sq-secondary sq-r-border sq-x-padding-05">Sign up for our newsletter</a>
						<a href="#" class="sq-text-white sq-secondary sq-x-padding-05">Contact us</a>
					</div>
				  </div>
				  <div class="sq-navbar-domain sq-flex sq-justify-right sq-align-center sq-nav-search">
					<input style="margin-right:10em;" type="psearch" name="search" value="search">
					<a class="sq-air-x-05" href="#login">Login</a>
					<!-- <button class="sq-btn sq-air-x-05" type="button" name="button">Sign in</button> -->
					<button class="sq-btn sq-air-x-1" type="button" name="button">Shopping cart</button>
				  </div>
				  <div class="sq-navbar-links sq-secondary-highlight">
					  <div class="sq-flex sq-justify-sb">
						  <div class="sq-r-border"></div>
						  <a class="sq-sliding-rightToLeft sq-t-padding-05 sq-air-x-1" href="#">All products </a>
						  <div class="sq-r-border"></div>
						  <a class="sq-sliding-rightToLeft sq-t-padding-05 sq-air-x-1" href="#">Some really cool mugs </a>
						  <div class="sq-r-border"></div>
						  <a class="sq-sliding-rightToLeft sq-t-padding-05 sq-air-x-1" href="#">Mugs with jugs </a>
						  <div class="sq-r-border"></div>
						  <a class="sq-sliding-rightToLeft sq-t-padding-05 sq-air-x-1" href="#">Coffe mugs </a>
						  <div class="sq-r-border"></div>
						  <a class="sq-sliding-rightToLeft sq-t-padding-05 sq-air-x-1" href="#">Team mugs </a>
						  <div class="sq-r-border"></div>
						  <a class="sq-sliding-rightToLeft sq-t-padding-05 sq-air-x-1" href="#">Hipster decaf soy caramel frappuccino-only mugs </a>
						  <div class="sq-r-border"></div>
						  <a class="sq-sliding-rightToLeft sq-t-padding-05 sq-air-x-1" href="#">Thermocromic mugs </a>
						  <div class="sq-r-border"></div>
					  </div>
				  </div>
			  </div>
		  </nav>
		  <!-- Navbar end -->
		  <main class="sq-main">
			  <%= render @view_module, @view_template, assigns %>
		  </main>
		  <footer class="sq-footer"></footer>
	  </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
