/* This file is for your main application css. */
/* Navbar specifics */
.sq-nav-search [type=psearch]{
	border: none;
    background-color: var(--background);
	margin-top: 0.2rem;
	max-width: 80%;
	min-width: 25em;
	height: 80%;
}
/* Homepage panels*/

.sq-homepage-slideshow{grid-area: 1 / 2 / span 3 / span 8;}
.sq-homepage-infobar{
	grid-area: 4 / 2/ span 1 / span 8;
	border-bottom: 1px solid black;
}
.sq-homepage-campaign1{grid-area: 5 / 2 / span 1 / span 4;}

.sq-homepage-campaign2{grid-area: 5 / 6 / span 1 / span 4;}

/* Product cards */
.sq-p-card{
	grid-column-end: span 2;
	grid-row-end: span 2;
}
.sq-p-card:first-child{
	grid-column-start: 2;
}
.sq-p-card:nth-child(4n+0){
	grid-column-start: 8;
}
.sq-p-card:nth-child(4n+1){
	grid-column-start: 6;
}
.sq-p-card:nth-child(4n+2){
	grid-column-start: 4;
}
.sq-p-card:nth-child(4n+1){
	grid-column-start: 2;
}

.sq-p-search{
	grid-column-start: 2;
	grid-column-end: span 8;
	grid-row-end: span 1;
}
.sq-form button[type=sort]{
	padding: 1rem 2rem;
    text-decoration: none;
    margin: 0.2rem;
    cursor: pointer;
	border: none;
	width: calc(100vw / 8);
}

/* About page */

.sq-about-panel{
	grid-area: 1 / 2 / span 6 / span 6;
}
.sq-employee-card{
	grid-column-end: span 2;
	grid-row-end: span 2;
}

.sq-employee-card img{
    display: block;
    height: calc(100vw / 10);
    width: calc(100vw / 10);
    /* border-radius: 50% 50% 50% 50%; */
}


/* Searchbar products */
.sq-toolcard-products{
	display: grid;
    grid-template-rows: 1fr 5% 1fr;
    grid-template-columns: 1fr;
    box-shadow: 0 4px 8px 0 var(--shadow-02);
    transition: 0.3s;
    margin:.5rem;
}

/* login / userpanel */
.sq-loginpanel{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content:center;
	align-content: center;
	background-color: var(--shadow-1E);
}

/* index page  */
.sq-grid-position-box{
	grid-area: 1 / 2 / span 2 / span 7;
  }
