html, body {
margin: 0px;
padding: 0px;
border: 0px;
}
:root{--nav-element-height: 2rem;}
/* Main Layout template */
.sq-viewport{
  min-height: 90vh;
  max-width: 100vw;
}
.sq-page{
  display: grid;
  grid-template-rows: calc(var(--nav-element-height) * 3) 1fr var(--nav-element-height);
  grid-template-columns: 1fr;
}
/* Navbar area */
.sq-nav-area{grid-area: 1 / 1 / 2 / 2;}
/* Navbar template */
.sq-navbar-layout{
  grid-template-rows: var(--nav-element-height) var(--nav-element-height) var(--nav-element-height);
  grid-template-columns: 1fr;
}
/* Navbar items */
.sq-navbar-nav{
  grid-area: 1 / 1 / 2 / 2;
  height: var(--nav-element-height);
}
.sq-navbar-domain{
  grid-area: 2 / 1 / 3 / 2;
  height: var(--nav-element-height);
}
.sq-navbar-links{
  grid-area: 3 / 1 / 4 / 2;
  height: var(--nav-element-height);
}
/* Navbar classes end */

/* Main content area */
.sq-main{
  grid-row:2 / 3;
  grid-column: 1 / 2;
}
/* Main content 9x5 grid */
.sq-main-layout{
    display: grid;
	padding: 1rem;
	grid-template-rows: repeat(5, calc(calc(100vh - calc(var(--nav-element-height) * 4)) / 5));    grid-template-columns: repeat(10, 1fr);
    background-color: var(--background-secondary);
	grid-auto-rows: calc(calc(100vh - calc(var(--nav-element-height) * 4)) / 5);
}
.sq-grid-row-gap{grid-row-gap:1em;}
.sq-grid-col-gap{grid-column-gap:1em;}
.sq-grid-gap{grid-gap:1em;}
/* Main Layout template end */
/* Footer */
.sq-footer{
	grid-area: 3 / 1 / 4 / 2;
	margin-top: 1rem;
}
/* Panels */
.sq-panel{
    display:flex;
    background-color: var(--background);
    padding: .5em;
    box-shadow: 0 1px 3px var(--shadow-0c), 0 1px 2px var(--shadow-18);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.sq-panel-main-top{grid-area: 1 / 1 / span 2 / span end;}
.sq-panel-main-bottom{grid-area: 3 / 1 / span end / span end;}
.sq-panel-main{grid-area: 1 / 1 / span end / span end;}

/* Cards */
.sq-card{
    display: grid;
    grid-template-rows:minmax(1rem, 15%) 1fr minmax(1rem, 20%);
    grid-template-columns: 1fr;
    box-shadow: 0 4px 8px 0 var(--shadow-02);
    transition: 0.3s;
    margin:.5rem;
}
.sq-card-header{grid-area: 1 / 1 / span 1 / span end;}
.sq-card-footer{grid-area: 3 / 1 / span 1 / span end;}
.sq-card-body{grid-area: 2 / 1sq-btn / 3 / span end;}
.sq-card-body-footer{grid-area: 2 / 1 / span end / span 1}
.sq-card-body-header{grid-area: 1 / 1 / span 2 / span 1}

/* Flex */
.sq-container{
	display: flex;
	height: 100%;
	width: 100%;
}
.sq-flex-column{
	flex-direction:column;
	height: 100%;
	width: 100%;
}
.sq-flex-row{flex-direction:row;}
.sq-justify-center{
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.sq-justify-right{
	justify-content: flex-end;
	margin-left: auto;
}
.sq-justify-left{
	justify-content: flex-start;
	margin-right: auto;
}
.sq-justify-sb{
	justify-content: space-between;
}
.sq-align-center{
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
}
.sq-flex{
  display:flex;
}
/* Flex end */
